# OpenSky
OPEN_SKY_CLIENT_ID=
OPEN_SKY_CLIENT_SECRET=

# Azure Storage — use connection string locally OR account name + DefaultAzureCredential
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_CONTAINER_NAME=bronze
AZURE_METADATA_CONTAINER_NAME=metadata
